<!DOCTYPE html>
<html>
<head>
    <style type="text/css" media="screen">
        body {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-decoration-color: white;
            font-size: 16px;
            padding: 15px;
        }
        .label {
            text-align: left;
            width: 100%;
            display: inline-block;
        }
        .text_body {
            padding-left: 20px;
        }
        .verify {
            width: 100%;
            justify-content: center;
            margin-bottom: 25px;
        }
        .verifyButton {
            text-decoration: none;
            padding: 10px;
            background-color: #4e4ebd;
            text-align: center;
            color: #fff !important;
            width: 75px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <span class="label">Dear Doctor,</span>
    <p class="text_body">Your password has been recently changed. Use this new password to login on Women Listed server.</p>
    <p style="padding-left: 25px;">
        <a href="<%=url%>" target="_blank">Login with new password</p>
        <p>user Id : <span style="padding-left: 10px;"><%=userId%></span></p>
        <p>Password : <span style="padding-left: 10px;"><%=password%></span></p>
    </p>
</body>
</html>
